@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    background: black;
    overflow: hidden;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}